<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Taoshi Request Network</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="welcome-container">
      <h1><%= validatorName %></h1>
      <h2>Powered By Taoshi</h2>
      <p>
        Delivering World Class Quant Trading Signals Through the Powers of
        Decentralized AI
      </p>
      <p>Validator online...</p>
      <p>
        head on to our Request Network UI Dashboard to register as a validator.
      </p>
      <a href="<%= uiAppUrl %>" target="_blank" class="button">Let's Go!</a>
    </div>
  </body>
</html>
