<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Taoshi Request Network Marketplace</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div id="subscribe" class="subscribe-container open">
      <h1><%= validatorName %></h1>
      <h2 id="sub-title">Subscribe to Service</h2>
      <img src="./img/stripe.svg" alt="Stripe Logo" class="logo" />
      <div class="form-container">
        <form id="payment-form" action="">
          <label>Service Name: </label>
          <input
            id="service-name-input"
            name="serviceName"
            readonly
            type="text"
          /><br />
          <label>Service Route: </label>
          <input
            id="service-route-input"
            name="serviceRoute"
            readonly
            type="text"
          /><br />
          <label>Email: </label>
          <input name="email" id="email-input" readonly type="text" /><br />
          <label>Price: </label>
          <input name="price" id="price-input" readonly type="text" /><br /><br />
          <div id="card-input" class="hidden">
            <label>Name on Card: </label>
            <input id="name-input" name="name" type="text" />
            <div id="name-error" class="error"></div>
            <label>Credit Card<span class="required">*</span></label>
            <div id="card" class="form-control"></div>
            <div id="card-error" class="error"></div>
          </div>
          <div id="payment" class="form-control"></div>
          <br />
          <button id="submit-btn" class="button" type="submit">
            Submit Payment
          </button>
        </form>
      </div>
      <br />
      <div id="api-error" class="error server-error"></div>
    </div>
    <div id="complete" class="subscribe-container">
      <h1>Payment Complete</h1>
      <p>Return to Request Network Marketplace...</p>
    </div>
    <div
      id="key"
      data-key="<%= key %>"
      data-api="<%= api %>"
      data-ui-api="<%= uiAppUrl %>"
    ></div>
    <script src="https://js.stripe.com/v3" type="text/javascript"></script>
    <script src="./stripe.js" type="text/javascript"></script>
  </body>
</html>
