h1, h2 {
  margin: 0;
  margin-bottom: 10px;
}
html,
body {
  margin: 0;
  padding: o;
  display: flex;
  box-sizing: border-box;
  font-family: "ADLaM Display", system-ui;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 650px;
}

body {
  font-weight: 400;
  font-style: normal;
  background-color: #f7f6f3;
}

.welcome-container, .subscribe-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(229 231 235);
  box-shadow: 0 0 #0000,  0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  text-align: center;
  margin: 3em;
  padding: 2em;
  max-width: 580px;
}
.subscribe-container {
  display: none;
  min-width: 300px;
}
.subscribe-container.open {
  animation: open .3s ease-in-out;
  will-change: opacity transform;
  display: block;
}
button[disabled] {
  opacity: .5;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 26px;
}
.hidden {
  display: none;
}
button, input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  background-color: #e35f25;
  color: white;
  padding: 7px 40px;
  margin-top: 25px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 0 solid rgb(229 231 235);
  box-shadow: 0 0 #0000,  0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.button:hover {
  background-color: #ca4f17;
}
input {
  padding: 8px 15px;
  width: 100%;
  display: inline-block;
}
input:read-only {
  padding: 0;
  border: none;
  width: auto;
}
label {
  padding-bottom: .5rem;
  display: inline-block;
}
.form-container {
  text-align: left;
  width: 300px;
  margin: 0 auto;
  position: relative;
}
form {
  position: relative;
}
#card {
  display: inline-block;
  padding: .5rem 1rem;
  min-height: 1.1rem;
  border: 1px solid rgb(229 231 235);
  box-shadow: 0 0 #0000,  0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  width: 266px;
}
.error {
  min-height: 1.4rem;
  color: red;
  font-size: .9rem;
}
.server-error {
  text-align: center;
}
#submit-btn {
  margin-top: .5rem;
  outline: none;
  width: 100%;
}
.required {
  padding-left: .25rem;
  color: #e35f25;
}